main {
    background-color:rgb(128, 205, 233);
    border-radius: 10px;
    border: 10px solid lightblue;     
}

.fondo {
    background-image: url('img/azul.jpg');
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 50px;
   
}

.col-auto {
    flex: 1 1;
    margin-right: 20px; 
}

h1 {
    padding-top: 20px;
    text-align: center;
   
}

.custom-height {
    height: 40px; 
    border-radius: 10px;
    color: gray;
    font-size: 15px;
}

.invalid {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

.error {
    color: red;
}

.mensaje-exito {
    color: green;
    text-align: center;
} 

.mensaje-error {
    color: red;
    text-align: center;
    font-weight: bold;
} 

.mensaje-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.btn-votar{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.8em 3em;
    margin-bottom: 2rem;
    margin-left: 50px;
    border: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: rgb(0, 102, 255);
}



@media (max-width: 767px) {
    main {
        background-image: url('img/azul.jpg');
        background-position: center center;
        background-size: cover; 
        background-repeat: no-repeat; 
        height: 260vh;
        width: 100%;
        border-radius: 10px;
        border: 10px solid lightblue; 
        color: white; 
        font-weight: bold; 
        text-align: center;  
    }

    .form-row {
        display: contents;
        display: row;  
    }

    .form-row label{
        margin-top: 40px;
        padding-bottom: 0px;
        
    }

    .btn-votar {
        margin: 50px auto;

    }

    #div_encuesta label {
        margin-top: 30px;
    }   
}